<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Consolidando-en-una-sola-tabla-por-país" data-toc-modified-id="Consolidando-en-una-sola-tabla-por-país-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Consolidando en una sola tabla por país</a></span></li><li><span><a href="#Codificando-las-variables-categóricas" data-toc-modified-id="Codificando-las-variables-categóricas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Codificando las variables categóricas</a></span></li></ul></div>

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelBinarizer

In [2]:
hhtrainA=pd.read_csv('../data/raw/Pover-T_Tests_Predicting_Poverty_-_Country_A_Household_Train.csv')
hhtrainB=pd.read_csv('../data/raw/Pover-T_Tests_Predicting_Poverty_-_Country_B_Household_Train.csv')
hhtrainC=pd.read_csv('../data/raw/Pover-T_Tests_Predicting_Poverty_-_Country_C_Household_Train.csv')

hitrainA=pd.read_csv('../data/raw/Pover-T_Tests_Predicting_Poverty_-_Country_A_Individual_Train.csv')
hitrainB=pd.read_csv('../data/raw/Pover-T_Tests_Predicting_Poverty_-_Country_B_Individual_Train.csv')
hitrainC=pd.read_csv('../data/raw/Pover-T_Tests_Predicting_Poverty_-_Country_C_Individual_Train.csv')

# Consolidando en una sola tabla por país

Hay que generar modelos por país, dadas las diferencias en las preguntas de las encuestas por país

In [3]:
train_A=pd.merge(hitrainA,hhtrainA,how='inner',on='id')
train_A.head()

,id,iid,HeUgMnzF,CaukPfUC,MzEtIdUF,gtnNTNam,SWoXNmPc,eXbOkwhI,OdXpbPGJ,XONDGWjH,...,sDGibZrP,CsGvKKBJ,OLpGAaEu,LrDrWRjC,JCDeZBXq,HGPWuGlV,GDUPaBQs,WuwrCsIY,AlDbXTlZ,country_y
0,80389,1,XJsPz,mOlYV,UFoKR,SSvEP,onRNG,YXCNt,4.0,oArAw,...,JqHnW,jkHEU,HxnJy,idRwx,UyAms,vkbkA,qQxrL,AITFl,aQeIm,A
1,80389,2,XJsPz,mOlYV,axSTs,CXizI,onRNG,YXCNt,4.0,ccbZA,...,JqHnW,jkHEU,HxnJy,idRwx,UyAms,vkbkA,qQxrL,AITFl,aQeIm,A
2,80389,3,TRFeI,mOlYV,axSTs,CXizI,NDnCs,YXCNt,4.0,fOUHD,...,JqHnW,jkHEU,HxnJy,idRwx,UyAms,vkbkA,qQxrL,AITFl,aQeIm,A
3,80389,4,XJsPz,yAyAe,FRcdT,CXizI,onRNG,YXCNt,NaN,fOUHD,...,JqHnW,jkHEU,HxnJy,idRwx,UyAms,vkbkA,qQxrL,AITFl,aQeIm,A
4,39883,1,XJsPz,mOlYV,UFoKR,HIvIU,onRNG,YXCNt,4.0,oArAw,...,JqHnW,MaXfS,USRak,idRwx,UyAms,vkbkA,qQxrL,AITFl,aQeIm,A

In [4]:
train_B=pd.merge(hitrainB,hhtrainB,how='inner',on='id')
train_B.head()

,id,iid,MmKGUOrD,splgBZfe,JTCCBpjX,akGaJaYF,eYoMkEyN,bmhTgzYu,BoxViLPz,GjxOmHgp,...,YVMuyCUV,AZVtosGB,toZzckhe,BkiXyuSp,ggucvVUs,VMvwrYds,VlNidRNP,rljjAmaN,ChbSWYhO,country_y
0,62801,1,ZZKZW,CLRvF,QEcpz,wmLgk,VsLed,LRmij,NaN,rLPoG,...,nZcTi,pdvWY,lmjln,qpzpO,kZRgh,VwGOP,JOdCB,SKBnS,Enull,B
1,62801,2,ZZKZW,CLRvF,QEcpz,wmLgk,VsLed,lfpaq,NaN,rLPoG,...,nZcTi,pdvWY,lmjln,qpzpO,kZRgh,VwGOP,JOdCB,SKBnS,Enull,B
2,62801,3,ZZKZW,CLRvF,QEcpz,wmLgk,cRkfb,LRmij,-68.0,rLPoG,...,nZcTi,pdvWY,lmjln,qpzpO,kZRgh,VwGOP,JOdCB,SKBnS,Enull,B
3,20689,1,ZZKZW,CLRvF,QEcpz,wmLgk,VsLed,LRmij,NaN,rLPoG,...,nZcTi,XrijK,lmjln,qpzpO,kZRgh,VwGOP,jRdRl,SKBnS,Enull,B
4,20689,2,ZZKZW,CLRvF,QEcpz,wmLgk,VsLed,lfpaq,NaN,rLPoG,...,nZcTi,XrijK,lmjln,qpzpO,kZRgh,VwGOP,jRdRl,SKBnS,Enull,B

In [5]:
train_C=pd.merge(hitrainC,hhtrainC,how='inner',on='id')
train_C.head()

,id,iid,OoqEwyJF,cJPCnaAs,vIUDQhEE,cRHfBOQd,dAmhsMgC,skzSFBmO,IsqnlKAj,AOSWkWKB,...,AJHrHUkH,PaEKIlvv,bFEsoTgJ,ihACfisf,obIQUcpS,lAvdypjD,ARWytYMz,eqJPmiPb,mmoCpqWS,country_y
0,30639,1,cEcbt,QhmHR,lJvCX,sgjYl,IpTiG,WFHaK,GpnOQ,nLEWH,...,laFxs,kBQRJ,eusFW,AmPtx,YXwVA,jSoky,NwjRA,wnPqZ,37,C
1,30639,2,cEcbt,QhmHR,lJvCX,sgjYl,IpTiG,WFHaK,UaIsy,nLEWH,...,laFxs,kBQRJ,eusFW,AmPtx,YXwVA,jSoky,NwjRA,wnPqZ,37,C
2,30639,3,cEcbt,cMeuH,lJvCX,sgjYl,IpTiG,WFHaK,JTCKs,nLEWH,...,laFxs,kBQRJ,eusFW,AmPtx,YXwVA,jSoky,NwjRA,wnPqZ,37,C
3,30639,9,cEcbt,uSuzR,lJvCX,GpRit,uEstx,WFHaK,JTCKs,nLEWH,...,laFxs,kBQRJ,eusFW,AmPtx,YXwVA,jSoky,NwjRA,wnPqZ,37,C
4,30639,10,cEcbt,uSuzR,lJvCX,GpRit,uEstx,WFHaK,JTCKs,nLEWH,...,laFxs,kBQRJ,eusFW,AmPtx,YXwVA,jSoky,NwjRA,wnPqZ,37,C

# Codificando las variables categóricas

In [6]:
def binarize_df(df_in):
    cols = []
    for i in df_in.columns:
        if df_in[i].dtype == 'object':
            cols.append(i)
    
    df = df_in[list(set(df_in.columns.tolist())-set(cols))]
    
    for i in cols:
        lb = LabelBinarizer()
        column_binarized = pd.DataFrame(lb.fit_transform(df_in[i]))
        if len(column_binarized.columns) < 2:
            column_binarized.columns = [i + '_' + lb.classes_[0]]
        else:
            column_binarized.columns = lb.classes_
            column_binarized.columns = [
                i + '_' + str(col) for col in column_binarized.columns
            ]
        df = pd.concat(
            [
                df,
                column_binarized,
            ], axis=1)
        
    return df

In [7]:
train_A_binarized = binarize_df(train_A)
train_A_binarized.to_csv('../data/interim/train_A_binarized.csv')
train_A_binarized.head()

,TiwRslOh,id,poor_y,ukWqmeSS,OMtioXZZ,OdXpbPGJ,iid,nEsgxvAq,YFMZwKrU,poor_x,...,OLpGAaEu_HxnJy,OLpGAaEu_USRak,OLpGAaEu_etZsD,LrDrWRjC_idRwx,JCDeZBXq_LPtkN,HGPWuGlV_WKNwg,GDUPaBQs_qCEuA,WuwrCsIY_AITFl,AlDbXTlZ_aQeIm,country_y_A
0,-3,80389,True,181,3,4.0,1,-4.0,-4.0,True,...,1,0,0,0,1,1,1,0,0,0
1,-3,80389,True,141,3,4.0,2,-4.0,-4.0,True,...,1,0,0,0,1,1,1,0,0,0
2,-3,80389,True,41,3,4.0,3,-4.0,-4.0,True,...,1,0,0,0,1,1,1,0,0,0
3,-3,80389,True,16,3,NaN,4,-4.0,-4.0,True,...,1,0,0,0,1,1,1,0,0,0
4,-1,39883,False,381,12,4.0,1,-4.0,-4.0,False,...,0,1,0,0,1,1,1,0,0,0

In [8]:
train_B_binarized = binarize_df(train_B)
train_B_binarized.to_csv('../data/interim/train_B_binarized.csv')
train_B_binarized.head()

,fyfDnyQk,IrxBnWxE,tzYvQeOb,aAufyreG,cDhZjxaW,nxAFXxLQ,iid,esHWAAyG,dnmwvCng,FGWqGkmD,...,rljjAmaN_akDoa,rljjAmaN_fEsQq,rljjAmaN_gPPdN,ChbSWYhO_BgSQe,ChbSWYhO_Enull,ChbSWYhO_LgZDV,ChbSWYhO_OPpaN,ChbSWYhO_fWqni,ChbSWYhO_zmaYX,country_y_B
0,NaN,NaN,NaN,NaN,-19,NaN,1,-1.0,1,NaN,...,0,0,0,0,1,0,0,0,0,0
1,NaN,NaN,NaN,NaN,-19,NaN,2,-1.0,1,NaN,...,0,0,0,0,1,0,0,0,0,0
2,NaN,NaN,NaN,NaN,-19,NaN,3,-1.0,1,NaN,...,0,0,0,0,1,0,0,0,0,0
3,NaN,NaN,NaN,48.0,1,NaN,1,-8.0,5,NaN,...,0,0,0,0,1,0,0,0,0,0
4,4.0,NaN,NaN,48.0,1,NaN,2,-8.0,5,NaN,...,0,0,0,0,1,0,0,0,0,0

In [9]:
train_C_binarized = binarize_df(train_C)
train_C_binarized.to_csv('../data/interim/train_C_binarized.csv')
train_C_binarized.head()

,xFKmUXhu,phbxKGlB,iid,vWNISgEA,cmjTMVrd,XKyOwsRR,jmsRIiqp,POJXrpmn,kiAJBGqv,XKQWlRjk,...,obIQUcpS_LSPRW,lAvdypjD_SnGME,lAvdypjD_UUKOE,lAvdypjD_gWylU,lAvdypjD_jSoky,ARWytYMz_NwjRA,eqJPmiPb_Rrpos,eqJPmiPb_mORJu,eqJPmiPb_wnPqZ,country_y_C
0,-7.0,-1802,1,9,4,-3,8,2,2,122,...,1,0,0,0,1,0,0,0,1,0
1,-7.0,-1802,2,9,4,-3,8,2,2,68,...,1,0,0,0,1,0,0,0,1,0
2,-7.0,-1802,3,9,4,-3,8,2,2,1,...,1,0,0,0,1,0,0,0,1,0
3,-7.0,-1802,9,104,4,249,8,2,2,1,...,1,0,0,0,1,0,0,0,1,0
4,-7.0,-1802,10,113,4,237,8,2,2,1,...,1,0,0,0,1,0,0,0,1,0